<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBNB</title>
    </head>
    <body>
        <h1>States</h1>
        <ul>
          {% for estado in estados | sort(attribute="name") %}
         <li>{{ estado.id }}: <b>{{ estado.name }}</b>
           <ul>
              {% for ciudad in estado.cities | sort(attribute="name") %}
              <li>{{ ciudad.id }}: <b>{{ ciudad.name }}</b></li>
              {% endfor %}
           </ul>
          </li>
          {% endfor %}
        </ul>
      </body>
    </html>