<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States: </H1>
        <ul>
            {% for estado in estados| sort(attribute='name') %}
            <li>
                {{ estado.id }} : <B> {{ estado.name }}</B>
                <ul>
                    {% for ciudad in estado.city | sort(attribute='name') %}
                    <li>
                        <ciudad.id>: <B><ciudad.name></B>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>

    </BODY>
</HTML>